 @model  LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-action="Login" asp-controller="Account" >
    <div>
        Username =<input type="text" asp-for ="Username" />
    </div>
    <div>
        Password = <input type="password" asp-for="Password" />
    </div>
    <div>
        <input type="submit"  value="Login" />
    </div>
      
      </form>

